[submodule "common"]
	path = common
	url = https://github.com/raduzoom/auth-common.git
	branch = main
[submodule "client"]
	path = client
	url = https://github.com/raduzoom/ticketing-client.git
    branch = main
[submodule "auth"]
	path = auth
	url = https://github.com/raduzoom/auth.git
    branch = main
[submodule "tickets"]
	path = tickets
	url = https://github.com/raduzoom/ticketing-tickets.git
    branch = main
[submodule "orders"]
	path = orders
	url = https://github.com/raduzoom/ticketing-orders.git
    branch = main
[submodule "ticketing-expiration"]
	path = ticketing-expiration
	url = https://github.com/raduzoom/ticketing-expiration.git
	branch = main
